@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* common styles */
* {
    font-family: "Open Sans", sans-serif;
}

.highlight-orange {
    color: rgb(253, 110, 10);
}

.btn-primary {
    background-color: rgb(253, 110, 10);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: none;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 700;
}

/* header part */
.header {
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* navigation part */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

/* banner section */

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greet {
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner .profile-picture {
    width: 500px;
}

.banner-content {
    max-width: 500px;
}

.contact {
    margin-left: 30px;
    background-color: #FFF8F3;
    border-radius: 5px;
    color: #FD6E0A;
    border: 1px solid rgb(253, 110, 10);
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 700;
}

/* main section */
/* About section */

.about {
    padding: 150px;
    border-radius: 10px;
    background: rgb(255, 248, 243);
    width: 1140px;
    height: 550px;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 230px;
    margin-right: 230px;
}
.about-content{
    background-color: #FFFFFF;
}

.section-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.section-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}